<!DOCTYPE html>

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<body>
  <table>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Entry Date</th>
      <th>Expiration Date</th>
    </tr>
    {%for entry in entries%}
    <tr>
      <td>{{entry.name}}</td>
      <td>{{entry.label}}</td>
      <td>{{entry.dateStored}}</td>
      <td>{{entry.dateExp}}</td>
    </tr>
    {%endfor%}
  </table>


</body>

</html>

